In [70]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()
import pandas as pd
import numpy as np

In [71]:
# /simple/price endpoint with the required parameters
#cg.get_coin_history_by_id(id='bitcoin',date='12-01-2020')['market_data']

In [72]:
coins=pd.DataFrame(cg.get_coins_list())
coins=coins.head()

In [73]:
id=coins['id'].values.tolist()
s=coins['symbol'].values.tolist()

In [74]:
# Python program to convert a list 
# to string using join() function 
	
# Function to convert 
def listToString(s): 
	
	# initialize an empty string 
	str1 = " "
	
	# return string 
	return (str1.join(s))

In [75]:

start_dti = '1, 1, 2020' #month, day, year
end_dti = '1, 3, 2020' #month, day, year
index = pd.date_range(start_dti, end_dti)
data= pd.DataFrame(
    [d] for d in index.strftime('%d-%m-%Y')
)
data.columns={'date'}

In [76]:

s= np.array(coins['symbol']).transpose().tolist()
df = pd.DataFrame(np.empty((0, len(s))))   
df.columns=s
coins_market=pd.concat([data,df],axis=1)
coins_market.set_index('date',inplace=True)

coins_price=pd.concat([data,df],axis=1)
coins_price.set_index('date',inplace=True)

coins_vol=pd.concat([data,df],axis=1)
coins_vol.set_index('date',inplace=True)

In [77]:

for i in (id):
    
    for d in index.strftime('%d-%m-%Y'):
        try:
            market_cap= cg.get_coin_history_by_id(i, str(d))['market_data']['market_cap']['usd']
            price= cg.get_coin_history_by_id(i, str(d))['market_data']['current_price']['usd']
            vol= cg.get_coin_history_by_id(i, str(d))['market_data']['total_volume']['usd']
        except:
            market_cap=None
            price=None
            vol=None
            
        symbol=listToString(coins.loc[coins["id"] == i, 'symbol'].values)
        coins_market.at[d,symbol] = market_cap
        coins_price.at[d,symbol] = price
        coins_vol.at[d,symbol] = vol

In [78]:
coins_market

                     zoc  algohalf  althalf  balhalf  trybhalf
date
01-01-2020  20921.196850       NaN      NaN      NaN       NaN
02-01-2020  19788.306202       NaN      NaN      NaN       NaN
03-01-2020  20764.851342       NaN      NaN      NaN       NaN

In [79]:
coins_price

                 zoc  algohalf  althalf  balhalf  trybhalf
date
01-01-2020  0.002074       NaN      NaN      NaN       NaN
02-01-2020  0.002000       NaN      NaN      NaN       NaN
03-01-2020  0.002123       NaN      NaN      NaN       NaN

In [80]:
coins_vol

                    zoc  algohalf  althalf  balhalf  trybhalf
date
01-01-2020  3676.516118       NaN      NaN      NaN       NaN
02-01-2020  3666.853571       NaN      NaN      NaN       NaN
03-01-2020  4271.576521       NaN      NaN      NaN       NaN

In [87]:
coins_market.to_csv('coins_market.csv')
coins_price.to_csv('coins_price.csv')
coins_vol.to_csv('coins_vol.csv')